version: "3.9"
services:
  django:
    build: .
    container_name: edu_platform
    volumes:
      - .:/app
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    ports:
      - "8007:8000"
    restart: always
