<footer class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    © {% now 'Y' %} Платформа LosDesign
                </div>
                <div>
                    <a href="{% url 'cabinet:text_page' 'oferta' %}">Оферта</a>
                    <a href="{% url 'cabinet:text_page' 'pomosh' %}">Помощь</a>
                    <a href="{% url 'cabinet:text_page' 'o-platforme' %}">О платформе</a>
                    <a href="{% url 'cabinet:text_page' 'rekvizity' %}">Реквизиты</a>
                    <a href="{% url 'cabinet:text_page' 'kontakty' %}">Контакты</a>
                    <a href="{% url 'cabinet:text_page' 'politika-konfidencialnosti' %}">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</footer>