{% extends 'base.html' %}

{% load static %}

{% block title %}
    Страница не найдена — LosDesign
{% endblock %}

{% block content %}
    <div class="form__block__1 not__found__template" data-aos="fade-in">
        <picture>
            <img src="{% static 'img/logo.svg' %}" alt="">
        </picture>
        <h3>Страница не найдена ...</h3>
        <picture>
            <img src="{% static 'img/not_found.png' %}" alt="">
        </picture>
        <a href="/">Вернуться на главную</a>
    </div>
{% endblock %}