{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ module.title }} — LosDesign
{% endblock %}

{% block content %}

    {% include 'includes/header.html' %}

        <main>
            <div class="container lessons__page">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="aside__block">
                            <a href="/" class="back__arrow">
                                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.02102 15.5597C9.00621 15.5746 8.55225 15.6884 8.01229 15.8125C7.47227 15.9366 7.02461 16.0192 7.01741 15.9961C7.01028 15.973 6.9544 15.5982 6.8933 15.1632C6.77057 14.2896 6.47341 13.2697 6.15588 12.6318C5.16614 10.6438 3.39036 9.32745 1.23658 8.98532L0.688129 8.89818V8.01998V7.1417L1.18523 7.0583C4.44202 6.51191 6.56529 4.07678 6.96249 0.432595C6.98841 0.194633 7.0194 0 7.03133 0C7.14117 0 8.96117 0.438616 8.99559 0.473361C9.02048 0.498487 9.00196 0.721568 8.95438 0.969012C8.42773 3.70904 6.91977 5.93867 4.96291 6.87093L4.49352 7.09457L14.1462 7.11208L17.3125 7.1232V8.90055L14.1305 8.91168L4.50058 8.92926L5.09319 9.22951C6.63056 10.0084 7.84773 11.5363 8.56452 13.587C8.76877 14.1713 9.07697 15.5033 9.02102 15.5597Z"/>
                                </svg>
                                Вернуться к модулям
                            </a>
                            <div>
                                <div class="ratio ratio-16x9">
                                    <div>
                                        <picture>
                                            {% if module.picture %}
                                                <img src="{{ module.picture.url }}" alt="">
                                            {% else %}
                                                <img src="{% static 'img/lorem.svg' %}" alt="">
                                            {% endif %}
                                        </picture>
                                    </div>
                                </div>
                                {{ module.text|safe }}
                                {% if lessons_with_hm %}
                                    {% if lessons_percent == 100 %}
                                        <span>Все задания выполнены</span>
                                    {% elif lessons_percent > 0 %}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{ lessons_percent }}%" aria-valuenow="{{ lessons_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 mt-5 mt-lg-0">
                        <div class="row">
                            <div class="col-12">
                                <h3>{{ module.title }}</h3>
                            </div>
                            {% for lesson in lessons %}
                                <div class="col-md-6 col-lg-4">
                                    <div class="lesson">
                                        <a href="{% url 'cabinet:lesson' module_slug=module.slug slug=lesson.slug %}">
                                            <div class="ratio ratio-16x9">
                                                <div>
                                                    <picture>
                                                        {% if lesson.picture %}
                                                            <img src="{{ lesson.picture.url }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'img/lorem.svg' %}" alt="">
                                                        {% endif %}
                                                    </picture>
                                                </div>
                                            </div>
                                            <h2>{{ lesson.title }}</h2>
                                            {% if lesson.id in lesson_done %}
                                                <picture class="is_done">
                                                    <img src="{% static 'img/done.svg' %}" alt="">
                                                </picture>
                                            {% endif %}
                                            {% if lesson.id in lesson_paused and lesson.id not in lesson_done %}
                                                <em class="in_process">В процессе ...</em>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="col-12">
                                    <p>Уроки пока не загружены ...</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>

    {% include 'includes/footer.html' %}

{% endblock %}