{% extends 'base.html' %}

{% load static %}

{% block title %}
    Уведомления — LosDesign
{% endblock %}

{% block content %}

    {% include 'includes/header.html' %}

        <main>
        <div class="container lesson__title">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center lesson__head">
                    <h3>Центр коммуникации</h3>
                    <a href="{% url 'cabinet:cabinet' %}" class="back__arrow">
                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.02102 15.5597C9.00621 15.5746 8.55225 15.6884 8.01229 15.8125C7.47227 15.9366 7.02461 16.0192 7.01741 15.9961C7.01028 15.973 6.9544 15.5982 6.8933 15.1632C6.77057 14.2896 6.47341 13.2697 6.15588 12.6318C5.16614 10.6438 3.39036 9.32745 1.23658 8.98532L0.688129 8.89818V8.01998V7.1417L1.18523 7.0583C4.44202 6.51191 6.56529 4.07678 6.96249 0.432595C6.98841 0.194633 7.0194 0 7.03133 0C7.14117 0 8.96117 0.438616 8.99559 0.473361C9.02048 0.498487 9.00196 0.721568 8.95438 0.969012C8.42773 3.70904 6.91977 5.93867 4.96291 6.87093L4.49352 7.09457L14.1462 7.11208L17.3125 7.1232V8.90055L14.1305 8.91168L4.50058 8.92926L5.09319 9.22951C6.63056 10.0084 7.84773 11.5363 8.56452 13.587C8.76877 14.1713 9.07697 15.5033 9.02102 15.5597Z"/>
                        </svg>
                        Вернуться к модулям
                    </a>
                </div>
                {% if modules %}
                    <div class="col-12 pt-4">
                        <nav>
                            <div class="nav nav-tabs modules_tabs">
                                {% for module in modules %}
                                    {% if module.lessons.all %}
                                        <button class="nav-link {% if forloop.first %} active {% endif %}" data-bs-toggle="tab" data-bs-target="#nav_{{ module.pk }}">
                                            {{ module.title }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </nav>
                        <div class="tab-content modules_tabs_content">
                            {% for module in modules %}
                                <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="nav_{{ module.pk }}">
                                    <div class="nav">
                                        {% for lesson in module.lessons.all %}
                                            {% if lesson.has_homework %}
                                                <button class="nav-link {% if forloop.first %} active {% endif %}" data-bs-toggle="pill" data-bs-target="#v_{{ lesson.pk }}">
                                                    {{ lesson.title }}
                                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.589989 11.8299C0.363233 11.6032 0.363233 11.2355 0.589989 11.0088L5.59877 6L0.589989 0.991223C0.363233 0.764468 0.363233 0.396823 0.589989 0.170068C0.816745 -0.0566883 1.18439 -0.0566883 1.41115 0.170068L6.8305 5.58942C7.05726 5.81618 7.05726 6.18382 6.8305 6.41058L1.41115 11.8299C1.18439 12.0567 0.816745 12.0567 0.589989 11.8299Z"/>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="tab-content">
                                        {% for lesson in module.lessons.all %}
                                            {% if lesson.has_homework %}
                                                <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="v_{{ lesson.pk }}">
                                                    <div class="lesson_header">
                                                        {{ module.title }}
                                                        <h4>{{ lesson.title }}</h4>
                                                    </div>
                                                    {% for notification in lesson.notifications.all %}
                                                        {% if notification.user == user %}
                                                            <div class="user_chat_content">
                                                                <div>
                                                                    <picture>
                                                                        <img src="{% if notification.user.profile.photo %}{{ notification.user.profile.photo.url }}{% else %}{% static 'img/ava.svg' %}{% endif %}" alt="">
                                                                    </picture>
                                                                    <div class="d-sm-none">
                                                                        <div>
                                                                            {{ notification.created_at }}
                                                                        </div>
                                                                        <div>
                                                                            {% firstof notification.user.profile.name notification.user.username %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="d-none d-sm-flex">
                                                                        <div>
                                                                            {% firstof notification.user.profile.name notification.user.username %}
                                                                        </div>
                                                                        <div>
                                                                            {{ notification.created_at }}
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        {{ notification.text|safe }}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            {% for comment in notification.comments.all %}
                                                                <div class="user_chat_content">
                                                                    <div>
                                                                        <div>
                                                                            <picture>
                                                                                <img src="{% if comment.user.profile.photo %}{{ comment.user.profile.photo.url }}{% else %}{% static 'img/ava.svg' %}{% endif %}" alt="">
                                                                            </picture>
                                                                        </div>
                                                                        <div class="d-sm-none w-100">
                                                                            <div>
                                                                                {{ comment.created_at }}
                                                                            </div>
                                                                            <div>
                                                                                {% firstof comment.user.profile.name notification.user.username %}
                                                                                {% if comment.user.username == 'admin' %}
                                                                                    <span>Куратор</span>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="d-none d-sm-flex">
                                                                            <div>
                                                                                {% firstof comment.user.profile.name notification.user.username %}
                                                                                {% if comment.user.username == 'admin' %}
                                                                                    <span>Куратор</span>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div>
                                                                                {{ comment.created_at }}
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            {{ comment.text|safe }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}

                                                            {% if notification.is_done %}
                                                                <div class="lesson_is_done mb-4">Урок пройден ✅</div>
                                                            {% endif %}

                                                        {% endif %}
                                                    {% endfor %}
                                                    <a href="{% url 'cabinet:lesson' module.slug lesson.slug %}" class="go_to_lesson">Перейти к уроку</a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p>Пока нет модулей</p>
                {% endif %}
            </div>
        </div>
    </main>

    {% if messages %}
        <div id="message__alert">
            {% for message in messages %}
                <span class="alert__{{ message.tags }}">
                    {{ message }}
                </span>
            {% endfor %}
        </div>
    {% endif %}

    {% include 'includes/footer.html' %}

{% endblock %}