{% extends 'base.html' %}

{% load static %}

{% block title %}
    Восстановление пароля — LosDesign
{% endblock %}

{% block content %}

    <div class="form__block__1" data-aos="fade-in">
        <div>
            <picture>
                <img src="{% static 'img/logo.svg' %}" alt="">
            </picture>
            <h3>Восстановить пароль</h3>
            {% if messages %}
                <div id="message__alert">
                    {% for message in messages %}
                        <span class="alert__{{ message.tags }}">
                            {{ message }}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <input type="email" name="email" class="form-control" placeholder="Введите свой E-mail" required>
                <input type="submit" class="send" value="Сбросить пароль">
                <a href="{% url 'cabinet:home' %}" class="registration">Войти в профиль</a>
            </form>
        </div>
    </div>

{% endblock %}