{% extends 'base.html' %}

{% load static %}

{% block title %}
    Восстановление пароля — LosDesign
{% endblock %}

{% block content %}

    <div class="form__block__1" data-aos="fade-in">
        <picture>
            <img src="{% static 'img/logo.svg' %}" alt="">
        </picture>
        <h3>Восстановить пароль</h3>
        <p class="ps-3 pe-3">Письмо с инструкциями по восстановлению пароля отправлено на почту</p>
        <a href="{% url 'cabinet:home' %}" class="registration w-auto">На главную</a>
    </div>

{% endblock %}