{% extends 'base.html' %}

{% load static %}

{% block title %}
  Восстановление пароля — LosDesign
{% endblock %}

{% block content %}

    <div class="form__block__1" data-aos="fade-in">
        <div>
            <picture>
                <img src="{% static 'img/logo.svg' %}" alt="">
            </picture>
            {% if validlink %}
                <h3>Новый пароль</h3>
                {% if messages %}
                    <div id="message__alert">
                        {% for message in messages %}
                            <span class="alert__{{ message.tags }}">
                                {{ message }}
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <input type="password" name="new_password1" class="form-control" placeholder="Придумайте пароль" required>
                    <input type="password" name="new_password2" class="form-control" placeholder="Повторите пароль" required>
                    <input type="submit" class="send" value="Обновить пароль">
                </form>
            {% else %}
                <h3>Ссылка для сброса пароля недействительна!</h3>
                <p class="p-5">Скорее всего она уже была использована. Пожалуйста, запросите смену пароля еще раз.</p>
                <a href="{% url 'cabinet:password_reset' %}" class="send">Запросить пароль заново</a>
            {% endif %}
        </div>
    </div>

{% endblock %}